*{
  font-family: Arial, Helvetica, sans-serif;
}

h1,
p {
  font-size: 50px;
}

body {
    background-color: azure;
}

.superior {
    color:  white;
}

#login {
    color: aliceblue;
}

#login:hover {
    color: black;
}